# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfplan
.terraformrc
terraform.rc
.DS_Store
**/.DS_Store

# Lambda deployment packages
Lambda/
ClientBuild/
*.zip
